<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @transaction_type.type_name %>
</p>

<%= link_to 'Edit', edit_transaction_type_path(@transaction_type) %> |
<%= link_to 'Back', transaction_types_path %>
