<h1>Editing User</h1>

<%= render 'edit_form' %>

<% if current_user.admin > 0 %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Users', users_path %>
<% else %>
  <%= link_to 'Cancel', @user %>
<%end%>
